## [Read/Write files (Need to change the name)](https://pandas.pydata.org/pandas-docs/stable/reference/io.html)

- ### Supported file types
  - #### Read/Write
    - Pickle
    - Flat file(s)
        - Table,CSV, Fixed Width files
    - Clipboard
    - Excel
    - JSON
    - HTML
    - XML
    - HDFStore: PyTables (HDF5)
    - Feather
    - Parquet
    - SQL
    - STATA
  - Read Only
    - Latex
    - ORC
    - SAS
    - SPSS
    - Google BigQuery
- ### Tips & Tricks/Boundary conditions/Pitfalls
  - 
- ### Conclusion
- ### Stay tuned for next
- ### [Bonus: Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
